<!--
  Generated template for the ClassificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Classificação</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="stage">
      <ion-segment-button [value]="tournamentStage.name" *ngFor="let tournamentStage of tournament.stages" (click)="selectStage($event,tournamentStage.name)">
        {{tournamentStage.name}}
      </ion-segment-button>
    </ion-segment>
  </div>

  <div>
    <ion-list radio-group [(ngModel)]="selectedPlayer" (ionChange)="scheduleNotification()" >
      <ion-item *ngFor="let performance of (performances|performance:stage)">
        <ion-label *ngIf="stageButton(stage, performance.modifier.stage)">
          <h1>{{performance.player.name}}</h1>
          <h2>{{performance.song}} - {{performance.score}}</h2>


        </ion-label>
        <ion-radio [value]="performance" ></ion-radio>
      </ion-item>
    </ion-list>
  </div>

</ion-content>